body,html {
	/*font-family: Arial, Verdana, Helvetica, Sans-Serif, serif;*/
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	/*overflow: hidden;*/
}
#homeScreen {
	padding-left:3vw;
}

button {
	width: 22%;
}
.qbox {
	padding: 1vw;
	display: none;
}

#testSelector {
	padding: 1vw;
	color: darkslategray;
}
li {
	margin: 1vw;
}

.messageBoundingBox {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: auto;
	visibility: hidden;
	z-index: 100;
}

.centered {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#testPassedMessage {
	background-color: lightgreen;
}
#testFailedMessage {
	background-color: lightpink;
}

.testBottomButtons {
	margin: auto;
	text-align: center;
}