body,html {
	/*font-family: Arial, Verdana, Helvetica, Sans-Serif, serif;*/
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}
#homeScreen {
	padding:3vw;
}

button {
	width: 24%;
	max-width: 7em;
}
.qbox {
	padding: 1vw;
	display: none;
}

#testSelector {
	padding: 1vw;
	color: darkslategray;
}
li {
	margin: 1vw;
}
select {
	max-width: 80%;
}

.testLetter {
	color: blue;
}
.messageBoundingBox {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: auto;
	visibility: hidden;
	z-index: 100;
}

.centered {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#testPassedMessage {
	background-color: lightgreen;
}
#testFailedMessage {
	background-color: lightpink;
}

#testBottomButtons {
	display: none;
	margin: auto;
	text-align: center;
}

.mainTitle {
	margin-top: 5%;
	width: 90%;
	margin: auto;
	text-align: center;
}

#mainMenu {
	width: 90%;
	margin: auto;
	text-align: center;
	padding: 1%;
}

.menuItem {
	margin: 5%;
	background-color: lightgoldenrodyellow;
	padding: 5%;
	border: 1px solid lavender;
	border-radius: 20px;
	font-size: x-large;
	display: flex;
	justify-content: center;
	align-content: center;
}

input.phrase {
	width: 95%;
	max-width: 25em;
}